<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Uploader un fichier</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2>Upload fichier</h2>
    <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
        <div class="form-group">
            <input type="file" class="form-control" name="file">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">upload</button>
        </div>
        <div th:if="${message}">
            <p th:text="${message}" class="alert alert-success"></p>
        </div>
    </form>

</div>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>